*~
*.swp
*.swo

src/intersim2/lex.yy.c
src/intersim2/y.tab.c
src/intersim2/y.tab.h

libcuda/cuobjdump_lexer.c
libcuda/cuobjdump_parser.c
libcuda/cuobjdump_parser.h
libcuda/cuobjdump_parser.output

lib/*
doc/doxygen/html


build/*
tags
*.swp
*~
cscope*
tags
regression.sh

#gcov
*.gcov
*.gcda
*.gcno

*log
*.o

# Accel-sim packages used for regressions
accel-sim-framework/
gpu-app-collection/

